/* public/styles.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  transition: background-color 0.3s ease;
}
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1; /* Place the video behind other elements */
}
.logo {
  width: 100px; 
  height: auto;
  margin-right: 530px; 
}

header {
  background-color: #0e5193;
  color: #ecf0f1;
  text-align: center;
  padding: 1rem 0;
  padding-left: 20px ;
  display: flex;
  align-items: center;
}

h1 {
  margin: 0;
}

main {
  max-width: 800px;
  margin: 20px auto;
}

.add-transaction, .transactions {
  background-color: #044c5e;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-transaction:hover, .transactions:hover {
  background-color: #567fb3;
  transform: translateY(-5px);
}

form {
  display: grid;
  gap: 15px;
}

label {
  font-weight: bold;
}

input, select, button {
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

input:focus, select:focus, button:focus {
  border-color: #3498db;
}

button {
  background-color: #2071a7;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1585d0;
}

.transactions ul {
  list-style-type: none;
  padding: 0;
}

.transactions li {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.delete-btn {
  background-color: #1f74a9;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}

.delete-btn:hover {
  background-color: #c0392b;
}
.transactions li:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.expense {
  background-color: #e74c3c;
  color: #fff;
}

.income {
  background-color: #2ecc71;
  color: #fff;
}

footer {
  background-color: #053463;
  color: #ecf0f1;
  text-align: center;
  padding: 5px;
  position: relative;
  bottom: 0;
  width: 100%;
}
